.iio{
  position: relative;
  bottom: 400px;
  left: 40px;
  font-family: "Kufam", sans-serif;
  color: #FFFFFF;
  
}



body{font-family:'Arial',sans-serif;background:#f0f4f8;margin:0;padding:20px;display:flex;justify-content:center;align-items:center;height:100vh; background: url(https://f.top4top.io/p_3612uq3hv0.jpg); }
.container{background:#fff;padding:30px;border-radius:12px;box-shadow:0 5px 15px rgba(0,0,0,0.1);width:300px;position:relative;
  height: 300px;
  font-family: "Rakkas", serif;
  font-weight: 400;
}
h2{text-align:center;color:#2c3e50;}
input{width:100%;padding:10px;margin:10px 0;border-radius:6px;border:1px solid #ccc;font-size:16px;
  position: relative;
  right: 10px;
}
button{width:100%;padding:12px;border:none;border-radius:8px;background:#000000;color:#fff;font-size:16px;cursor:pointer;
  position: relative;
  bottom: 65px;
  left: 4px;
}
button:hover{background:#1c5980;}
#msg{color:red;text-align:center;margin-top:10px;}
.togglePass{position:absolute;right:25px;top:143px;cursor:pointer;}



